
@model EEIMS.Models.GetAllEmployeeVewModel
@{
    ViewBag.Title = "Index";
}

<h3 style="align-items:center">Employee List</h3>
                    ,
<table id="employeeTbl" class="table table-info table-light table-hover ">
    <caption>List of members</caption>
    
</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#employeeTbl').DataTable({
                ajax: {
                    url: '/Employee/GetVerifiedEmployeeList',
                    dataSrc: ''
                },
                columns: [
                    { title: 'Emp ID', data: 'EmployeeId' },
                    { title: 'First Name', data: 'FirstName' },
                    { title: 'Last Name', data: 'LastName' },
                    { title: 'Designation', data: 'Designation' },
                    { title: 'Department', data: 'Department' },
                    {
                        title: 'Actions',
                        data: null,
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger" onclick="GetEmployee(\'' + row.Id +'\')">Details</button>';
                        }
                    }
                ]
            });
        });

        function GetEmployee(id) {
            window.location.href = '/Employee/DetailsAdminUse/'+ id;
        }

        
    </script>
}
