@model EEIMS.Models.GetAllEmployeeVewModel

@{
    ViewBag.Title = "NonVerifiedEmployeeList";
}

<h2>Non-Verified Employee List</h2>

                    ,
<table id="userTbl" class="table table-info table-light table-hover ">

</table>


@section scripts{
    <script>
        $(document).ready(function () {
            $('#userTbl').DataTable({
                ajax: {
                    url: '/Employee/GetNonVerifiedEmployeeList',
                    dataSrc: ''
                },
                columns: [
                    { title: 'Emp ID', data: 'EmployeeId' },
                    { title: 'First Name', data: 'FirstName' },
                    { title: 'Last Name', data: 'LastName' },
                    { title: 'Designation', data: 'Designation' },
                    { title: 'Department', data: 'Department' },
                    {
                        title: 'Actions',
                        data: null,
                        render: function (data, type, row) {
                            return '<button class="btn btn-danger" onclick="GetEmployee(\'' + row.Id +'\')">Details</button>';
                        }
                    }
                ]
            });
        });

        function GetEmployee(id) {
            window.location.href = '/Employee/DetailsAdminUse/'+ id;
        }


    </script>
}


